body {
  padding-top: 55px;
  margin: 0;
  background: #f4f2fa !important;
}
/*--- Template Stuff ---*/

.s{
  background-color: #f0edff;
}

p{
  font-size: 18px;
  line-height: 26pt;
  color: #292929;

}

/*--- Template Stuff End ---*/
/*--- colors ---*/
.secondarycolor {
  background-color: #4b2af5;
  color: white !important;
}
/*--- color END ---*/
/*--- medias ---*/
@media (max-width: 1000px) {
    .steptext{
      max-width: 630px;
      word-wrap: break-word;
    }

    .methodbox{
      padding-left: 0px;
    }


    .navbar-brand {
    padding-left: -0px;
    }
 }
/*--- medias END ---*/

/*--- sidebar ---*/
.sidebar {
  border-right: 5px !important;
  border-right-color:  rgb(201, 76, 76) !important;
}

.sidebarcard{
  background-color: #F7F8FC ;
}

.sidebar-sticky{
  width: 150px !important;
}


.sidebarcontent{
  padding-left: 0px !important;
}

.rightsidebar{
  margin-top: 30px;
}

.adcanvas{
  background-color: #F7F8FC;
  height: 400px;
}

.textstyle1{
  font-family: Inter !important;
}

.buttonstyle1:hover{
  background-color: #4b2af5;
  border-radius: 10px;
  -webkit-transition: background-color 0.5s ease-in-out;
  color: white;
}

.reactionlogo{
  font-size: 28px;
  border-radius: 50%;
}

.sharelogo{
  font-size: 28px;
  padding-right: 20px;
}

.innerside {
     width:100% !important;
   }

/*--- sidebars END ---*/

/*--- Main frame ---*/

.screen{
  height: 91vh !important;  
}

.maincard{
  float: center;
  min-height: 500px;
  padding: 0px !important;
}

@media (max-width: 480px) {   SMALL SCREENS
  .cardbox{
    width: 100% !important;
    height: 100% !important;
  }

  .cardleftside{
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
 }


.leadtext{
  font-size: 15px !important;
}

.desctext{
  font-family: 'Roboto', serif;
  font-weight: 500;
  font-size: 13px;
  color: black;
}

.undertexts{
  font-weight: 400;
  font-size: 16px;
  color: gray;
  margin: 0px !important;
}

.login-or {
         position: relative;
         color: #aaa;
         margin-top: 10px;
         margin-bottom: 10px;
         padding-top: 10px;
         padding-bottom: 10px;
         }

.span-or {
         display: block;
         position: absolute;
         left: 50%;
         top: -2px;
         margin-left: -25px;
         background-color: #fff;
         width: 50px;
         text-align: center;
         }

.hr-or {
         height: 1px;
         margin-top: 0px !important;
         margin-bottom: 0px !important;
         }

.cardillustration{
  background-color: #D6E0FF;
}

.designcardimage{
    height: 100%;
    width: 100% !important;
    padding-bottom: 0px !important;
    vertical-align:bottom !important; 
}


.welcometext{
  font-family: 'Roboto', serif;
  font-size: 30px;
  font-weight: 600;
  color: #333e54;
}