body {
  padding-top: 55px;
  margin: 0;
  background: white !important;
}


.editor:focus{
  border-width: 0px !important;
}

/*--- colors ---*/
.secondarycolor {
  background-color: #4b2af5;
  color: white !important;
}
/*--- color END ---*/
/*--- sidebar ---*/
.sidebar {
  border-right: 5px !important;
  border-right-color:  rgb(201, 76, 76) !important;
}

.sidebarcard{
  background-color: #F7F8FC ;
}

.sidebar-sticky{
  width: 150px !important;
}


.sidebarcontent{
  padding-left: 0px !important;
}

.rightsidebar{
  margin-top: 30px;
}

.adcanvas{
  background-color: #F7F8FC;
  height: 400px;
}

.textstyle1{
  font-family: Inter !important;
}

.buttonstyle1:hover{
  background-color: #4b2af5;
  border-radius: 10px;
  -webkit-transition: background-color 0.5s ease-in-out;
  color: white;
}

.avatarinpage {
  border-width: 2px;
  border: 1px solid white;
  max-width: 130px;
  max-height: 130px;
  object-fit: cover;
}

/*--- sidebars END ---*/

/*--- Main frame ---*/
.titlecont {
   max-width: 400px;
   word-wrap: break-word;
   margin-bottom: 0px !important;
}

.username {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
   word-wrap: break-word;
   margin-top: 10px;
}

.yourarticle{
   word-wrap: break-word;
   margin-top: 10px;
   font-weight: 700;
   font-size: 24px;
   font-family: 'Raleway', sans-serif;
   letter-spacing: 1px;
}

.articlecard{
  border-left-width: 5px;
  border-left-color: #4f2bf3; or remove it;
  border-right-width: 0px;
}

.articlecardimg{
  max-height: 200px;
  max-width: 200px;
}

.postsubtitle {
  font-family: 'Segoe UI', sans-serif;
   font-size: 20px !important;
   word-wrap: break-word;
   padding-bottom: 0px !important;
   margin-bottom: 0px !important;
   line-height: 25px;
}

.postdesc {
   max-width: 800px;
   word-wrap: break-word;
}

.methodcircle {
    border-radius: 50%;
    width: 45px;
    height: 45px;
    padding: 8px;

    background-color: #4b2af5;
    text-align: center;

    font: 25px Arial, sans-serif;
    color: white;
    z-index: 1000;
    position: relative;
} 

.stepcircle {
    border-radius: 50%;
    width: 35px;
    height: 35px;
    padding: 9px;

    background-color: #4b2af5;
    text-align: center;

    font: 15px Arial, sans-serif;
    color: white;
    position: relative;
} 

.methodtitle{
  font-size: 22px;
  max-width: 630px;
  padding-top: 10px;
}

.methodname{
    display: block;
    font-size: 15px;
}

.methodname::placeholder { 
  font-size: 13px;
  padding-top: 7px;
}

.steptext{
  max-width: 630px;
  word-wrap: break-word;
  padding-top: 2px;
  position: relative;
}

.s{
  background-color: #f0edff;
}

.arrowup{
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.arrowbtn{
  border: 0px;
  background-color: #f5f5f5;
  width: 100px !important;
  padding-top: 10px;
  float: right;
}

.arrowbtn:focus{
  outline: none;
}

.methodbox{
  max-width: unset;
}

.stepimg1{
  max-width: 400px;
}

.profilecontainer{
  height: 120px;
  margin-top: 30px !important;
  margin-bottom: 10px;
  background-color: #f0f0f0;
  float: right;
  border-radius:.75rem!important
}

.form-control:focus {
        border-color: #3b86ff !important;
        box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.075) inset, 0px 0px 0px rgba(0, 255, 255, 0.5) !important;
    }

.profileimage {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    padding: 8px;

    background: #0090ff;
    text-align: center;

    font: 20px Arial, sans-serif;
    color: white;
} 

#holder {
    height: 60px;
}
#titlelabel {
    margin-bottom: 0px;
    padding-left: 10px;
    padding-top: 2px;
    position: absolute;
    color: #808080 !important;
}

.inputboxes {
    min-height: 60px;
    padding-bottom: 0px;
    padding-top: 20px !important;
    display: block;
    border-width: 0px !important;
    font-size: 35px;
    word-wrap: break-word;
}


#methodtitleinput {
    height: 100%;
    display: block;
    margin-top: 10px;
    position: relative;
}

.removemethodbtn{
  border: 0px !important;
}

.methoddesccont{
  float: right;
}
.adddescbtn{
  display: inline-block;
  outline:0px !important;
  font-size: 13px !important;
}

.btn-outline-primary:focus,
.btn-outline-primary:active{
    box-shadow:none !important;
    outline:0px !important;
}

.methodcard{
  background-color: #fcfdff !important; 
}

.addstepimgbtn{
  display: inline-block;
  outline:0px !important;
  font-size: 13px !important;
}

.removestepbtn{  
  display: inline-block;
  outline:0px !important;
  font-size: 12px !important;
  margin-bottom: 0px;
  right: 35px !important;
  position: absolute;
  border-color: transparent!important;
}

.removenotebtn{  
  display: inline-block;
  outline:0px !important;
  font-size: 12px !important;
  margin-bottom: 0px;
  right: 15px !important;
  position: absolute;
  border-color: transparent!important;
}

.imagecard{
    background-color: #f0fff4 !important;
    height: 100px;
}
/*--- 
.uploadimagebutton{
  flex:1;
}
 ---*/


.boldtextbtn{
  display: inline-block;
  outline:0px !important;
  font-size: 13px !important;
  float: left;
}

.inputsubtitles{
  font-size: 15px !important;
}

.inputboxes::placeholder { 
  font-size: 25px;
  padding-top: 7px;
}


[data-placeholder]:empty:before {
     content: attr(data-placeholder);
     color: #888;
     font-size: 13px;
     font-style: italic;
}

.stepfinalbuttons{
  display: inline-block;
  outline:0px !important;
  font-size: 13px !important;
}


#noteinput{
  min-height: 60px;
  padding-bottom: 0px;
  padding-top: 20px !important;
  border-color: black;
  border-width: 0px;
  background-color: #E8EFFF;
}

.dim{
  filter: brightness(30%);
  }

.videocanvas{
  background-color: #f0f0f0;
  height: 200px;
}